
@font-face {
    font-family: "comforta";
    src: url(../Comfortaa-VariableFont_wght.ttf);

}

*{
    box-sizing:border-box;
    padding:0;
    margin: 0;
  /*  background-color: antiquewhite;*/
    
    font-family: "comforta";
}

.container-grid{
    background-color: cornflowerblue;
    
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: 30% 30% 50% 50%
}


.grid-header{
    background-color: #13315C;;
    color: white;
    border: 3px solid black;
    
        
    grid-column:1/4 ;

    display: flex;
    justify-content:center;
    align-items: center;

}
.heroImg{
    width: 100px;
    height: 100px;
}
/****************************************/
.grid-nav{
    background-color:#13315C;;
    color: white;
    
    
    grid-column: 1/4;

   
       
}
.nav-title { 
    
    
    list-style-type: none;
    
   display: flex;
    justify-content:space-between;
    align-items:center;
    list-style-type: none;
    
}
 a{ background-color: red;
    color: aliceblue;
    list-style-type: none;
}
/****************************************/
.grid-aside{
    background-color: palevioletred;
    color: white;
    border: 3px solid black;
    grid-row: 3/6;
   

    
}
/*****************************/
.grid-main{
    background-color: purple;
    color: white;
    border: 3px solid black;
    width: 70%;
    
    
    grid-column: 1/span 1;
    grid-row: 3/ 6;

    
  
}

p{
    background-color: grey;
    text-align: center;
    
    height: 80%;
    width: 100%;
    padding: 15px;
    line-height: 25px;
}
h2{
    background-color: darkseagreen;
    text-align: center;
}
/****************************************/
.grid-footer{
    background-color: brown;
    color: white;
    border: 3px solid black;
    grid-column: 1/4;
}
