$fuente: "comforta";
$fondo:#13315C; 
$colorLetra: white;

body{
    box-sizing:border-box;
    padding:0;
    margin: 0;
}

header{
    background-color: $fondo;
    color: $colorLetra;
    display: flex;
    justify-content:space-between;
    align-items:center;
    
    
    div{
        display: flex;
    }

    nav{
       background-color:$fondo;
       
       

       ul{
           color:$colorLetra;
           


           display: flex;
           justify-content: space-between;
           align-items: center;


           
       }

       li{
        
        list-style-type: none;
        
       }
        
       a{
           font-size:20px;
           text-decoration: none;
           color: $colorLetra;
           padding: 32px;
          
           &:hover{
            color:rgb(103, 218, 141);
        }
          
       }
        
    }   



}
img{
    
    width: 100px;
    height: 100px;
    
   
}

.hero-a{
    background-color: burlywood;
    background-image: url(../../IMG/gggggg.jpg);


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;

    .hero-n{
        color: $colorLetra;

    }
    .hero-info{
       

        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:center;
        padding-left: 40px;
        /*no puedo centrar el h2*/
        

        .hero-title{
           color:$colorLetra;
          
        }
        .hero-p{
            color: $colorLetra;
        }
    }
    
        
              
}

.servicios-cards{
    background-color:$fondo;
    padding: 16px;
    


    display: flex;
    justify-content: center;
    align-items: center;

 .card-s{
     background-color: rgba(196, 196, 211, 0.575);
     padding: 20px;
     margin: 25px;
     
     width:20%;
     height:20%;
     border-radius: 30px 32px;
     
      
     
    }
    .card-s-a{
        background-color: rgb(249, 250, 251);
        color: black;
        width: 250px;
        height: 300px;
        padding: 15px;
        border-radius: 30px 32px;
        
    }

 .icon-s{
     background-color: rgb(248, 245, 245);
     margin-left: 30px;
     border-radius: 50%;
 }


.servicios-p{
    color: $colorLetra;
}



}

footer{
    font-size: 20px;
    background-color: $fondo;

    color:$colorLetra;
    border-top: 3px solid rgb(62, 92, 245);
    height: 350px;


    padding: 15px;
    text-align: center;

    .iconosFooter{
        margin: 20px;
        display: flex;
        flex-direction: column;
        color: $colorLetra;

        list-style-type: none;

    }
    .link{
        text-decoration: none;
        color: $colorLetra;
    }
        i{
            color: $colorLetra;
            display: block;
            padding: 32px;

        }
}














